@use "../../styles/utils/variables" as vars;

.errorDiv{

    min-height: 80%;
    font-family: "Montserrat", sans-serif;
    color: vars.$primary-color;
    
    &__Number{
        font-size: 16vw;  // Taille = 16% de la largeur de la fenêtre 
        font-weight: 700;
        padding-top: 5vh;
    }

    &__Text{
        font-size: 2vw;
        padding-bottom: 20vh;
    }

    &__Link{
        font-size: 1.5vw;
        color: vars.$primary-color;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        font-size: 1rem;
        padding-bottom: 2rem;
    
    }

}

@media screen and (max-width:vars.$mobile){

    .errorDiv{
        &__Link{
            font-size:0.65rem;
            text-decoration: underline;
        }

        &__Text {
            font-size: 3.5vw;
            width: 60vw;          // force une largeur fixe
            word-wrap: break-word; // coupe les mots si besoin
            white-space: normal;   // permet les retours à la ligne
            text-align: center;
            margin: 0 auto;
            padding-bottom: 19vh;
          }
          
        &__Number{
            font-weight: 610;
            padding: 22vh 0 1vh 0;
        }
    }
}