@use '../../styles/utils/variables' as vars;

#flat-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    background-color: vars.$secondary-color;
    // largeur max et centrage
    max-width: 86%;    // controle la largeur , pas de soucis de backgroundcolor qui commence en bord ed page. 
    margin: 2rem auto;      // centre horizontalement dans la page
    padding: 2rem;       // espace intérieur (le fond coloré englobe ce padding)
    border-radius: 1rem;


    .card {
      position: relative;   // important pour que h2 se positionne par rapport à .card
      margin: 1rem;
      border-radius: 1rem;
      overflow: hidden;     // évite que le titre dépasse
  
      img {
        width: 100%;
        object-fit: cover;
        display: block;
        border-radius: 1rem;
      }
  
      .card_title {
        position: absolute;     //sort du flux normal
        bottom: 1rem;           // collé en bas de l’image
        left: 1rem;             // petit décalage à gauche
        color: vars.$tertiary-color;           // texte visible sur l’image
        font-size: 0.9rem;
        text-shadow: 1px 1px 4px rgba(0,0,0,0.7); // lisibilité du texte
        max-width: 60%;     // limite la largeur → le texte se casse sur 2 lignes si besoin
        line-height: 1.2;   // espace vertical entre les lignes
        word-wrap: break-word; // sécurité si un mot est très long

      }
    }


    a {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
  
      article {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
  
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }
    }
  }
  

@media (max-width: vars.$mobile) {
#flat-list {
    flex-direction: column;   //  Met les divs en colonne
    flex-wrap: nowrap;        // pas besoin d’enroulement en colonne
    justify-content: center; 
    align-items: center;      // centre les colonnes horizontalement
    margin: 0;
    padding: 0;
    max-width: 100%;
    gap: 0;


    a{
      width: 100%;
    }
    
  }

  // _tag.div{width: 30%) : voir media query sur le composant tag 

}