@use '../../styles/utils/variables' as vars;

header {
  width: auto;
  background-color: vars.$tertiary-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width:vars.$mobile){
    width: auto;
    flex-wrap:nowrap; //écrase la propriété wrap , sans refaire le flex . 
    flex-direction: row; // permet de garder le space between fonctionnel en media query
    justify-content: space-between;
  }

  img {
    width: 29%;
    padding: 4% 8%;

    @media screen and (max-width:vars.$mobile){
      width: 36%;
      padding: 3% 4%;
    }
  }

  nav {
    display: flex;
    gap: 4rem; // espace entre les liens
    padding-right: 8%;

    @media screen and (max-width:426px){
      gap:1.5rem; // max-width à revoir
      padding-right: 6%;
    }

    a {
      display: inline-block; // largeur = texte
      padding: 0;     // padding seulement vertical !
      text-decoration: none;
      color: vars.$primary-color;
      font-family: "Montserrat", sans-serif;
      font-size: 1.3rem;

      &:hover {
        color: vars.$primary-color;
      }

      &.active {
        border-bottom: 2px solid vars.$primary-color;
      }

      @media screen and (max-width:426px){
        font-size: 0.7rem; // max-width à revoir
        text-transform: uppercase; // transforme le texte en petits caratères en un texte en gros caractères
      }
    }
  }
}
