header {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    img{
        width: 100px;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: space-between;
        text-decoration: none;
        color: red;
    }
}

