@use '../../styles/utils/variables' as vars;

footer {
    background-color: vars.$footer-color; // fond noir
    display: flex;
    flex-direction: column; // place les enfants (logo + texte) en colonne
    align-items: center;    // centre horizontalement
    justify-content: center;
    padding: 2rem 1rem;     // espace intérieur
  
    img {
      filter: brightness(0) saturate(100%) invert(100%); // met la couleur en noire - conserve les contrastes - inverse la couleur
      width: 9%; // ajuste la taille si nécessaire
      margin: 1.5rem 0 2rem 0; // espace entre le logo et le texte

      @media screen and (max-width:426px){
          width: 38%;
          margin: 1rem 2rem;
      }
    }
  
    p {
      color: vars.$tertiary-color; // texte blanc
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      margin: 0;
      text-align: center;

      @media screen and (max-width:426px){
        font-size: 0.8rem;
        margin: 0.5rem;
      }
    }
  }