@use "../../styles/utils/variables" as vars;

.infoSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 8%;
}
  
  /* Ligne principale : gauche = infos, droite = owner + rating */
.infoTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Pour gérer les écrans étroits */
    gap: 1.5rem;
}
  
  /* Bloc gauche : titres + tags */
  .leftInfo {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
  
    h1 {
      font-size: 1.8rem;
      margin: 0;
      color: vars.$primary-color;
      font-style: "Montserrat", sans-serif;
    }
  
    h2 {
      font-size: 1.2rem;
      margin: 0;
      margin-block-start: 0;     /* réinitialise margin-top logique */
      margin-block-end: 0;       /* réinitialise margin-bottom logique */
      margin-inline-start: 0;    /* réinitialise margin-left logique */
      margin-inline-end: 0;      /* réinitialise margin-right logique */
      font-weight: 400;
      color: vars.$primary-color;
      font-style: "Montserrat", sans-serif;
    }
}
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
  
  /* Bloc droite : owner au-dessus, rating dessous */
  .rightInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligne tout à droite */
    gap: 0.8rem;
    color: vars.$primary-color;
  }
  
  /* Les étoiles */
  .rating {
    display: flex;
    gap: 0.4rem;
  }

  .star {
    width: 20px;
    height: 20px;
  }
  
  .starFull,
  .starEmpty {
    width: 25px;
    height: 25px;
    margin-right: 4px;
    display: inline-block;
  }
  

 /* .starFull {
  filter: brightness(0) saturate(100%) invert(27%) sepia(91%)
    saturate(4795%) hue-rotate(340deg) brightness(105%) contrast(102%);
}

.starEmpty {
  opacity: 0.3;
  filter: brightness(0) saturate(100%);
} */


.starFull {
  color: vars.$primary-color; // ta couleur rosée
  fill: currentColor; // pour s'assurer que le SVG se colore bien
}

.starEmpty {
  color: vars.$tertiary-color; // noir ou gris selon ta palette
  opacity: 0.3;
  fill: currentColor;
}

/* le collapse est déplacé dans le accomodation : Sinon il ne pourrait pas
 s'appliquer à cause du scope et du module.scss */

    .collapses {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 4rem;
    
      .collapse__dropdownDiv {
        flex: 1;
      }
    
      @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    
        .collapse__dropdownDiv {
          width: 100%;
        }
      }
    }
    
