@use "../../styles/utils/variables" as vars;

.Banner {
  position: relative;
  width: 88%;
  margin: 0 auto;
  aspect-ratio: 15 / 3;  // ratio fixe du container
  overflow: hidden;
  border-radius: 1rem;

  img {
    position: absolute;       // clé : l’image n’influence plus la hauteur
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;        // remplit le banner
    object-position: center;  // toujours centré
    transform: translate(-50%, -50%);
  }

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: vars.$tertiary-color;
    font-size: 2.6rem;
    z-index: 10;
  }
}

/* MOBILE */
@media (max-width: vars.$mobile) {

  .Banner {
    aspect-ratio: 34 / 7;
    width: 94%;
    padding: 0;
  

    img {
      object-position: center;
      transform: translate(-50%, -50%);
    }

    p {
      left: 1rem;
      transform: translateY(-50%);
      text-align: left;
      font-size: 1rem;
    }
  }
}
